.commentsWrapper {
  border-top: 1px solid var(--color-border);
  width: 100%;
}

.commentsContainer {
  width: 80%;
  padding: 30px 0px 0px 0px;
  margin: 0 auto 30px auto;
}

.title {
  margin-bottom: 30px;
}

.comment {
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  border: 1px solid #4d5258;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 30px;
}

/* The date and name */

.commentInfo {
  display: flex;
  align-items: center;
}

.commentInfo span {
  width: fit-content;
}

.commentInfo span:first-child {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-secondary);
}

.commentInfo span:last-child {
  color: #98d8b8;
  background-color: rgba(129, 230, 217, 0.16);

  display: inline-block;
  width: max-content;
  padding: 4px 12px;
  border-radius: 999px;

  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.delete {
  background-color: maroon;
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 8px;
}

.delete:hover {
  background-color: rgb(93, 3, 3);
}

.bin {
  height: 17px;
}
