.headerWrapper {
  padding: 50px;
  border-bottom: 1px solid var(--color-border);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
}

.welcome {
  font-size: 1.5rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
