.sideBar {
  padding: 300px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

button {
  width: 100%;
}

.create {
  height: 20px;
}

a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logout {
  height: 30px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.1rem;
  width: 100px;
}
