.container {
  display: grid;
  grid-template-areas:
    "navBar sideBar"
    "main sideBar"
    "footer footer";
  grid-template-columns: 1fr 250px;
  grid-template-rows: auto auto auto;
}

.navBar {
  grid-area: navBar;
}

.sideBar {
  grid-area: sideBar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.main a {
  text-decoration: none;
  font-size: 1rem;
}
