@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  font-family: "Raleway";
  background-color: var(--color-background);
  color: var(--color-primary);
}

:root {
  --color-background: #282429;
  --color-border: #4d5258;
  --color-primary: #e6e7e6;
  --color-secondary: #955eb4;
}

.violet {
  color: var(--color-secondary);
}

ul {
  list-style-type: none;
}

button {
  all: unset;
  background-color: #955eb4;
  color: #e6e7e6;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease;
}

button:hover {
  color: #e6e7e6;
  background-color: #7a4d95;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #e6e7e6;
}

a:hover {
  text-decoration: underline;
}
